extends layout

block content
	h1 Crime Stats per State for 2005 
	p Welcome to #{title}
	div(style='width: 100%; height: 80%; position: relative;')
		div#chartdiv(style='width: 200px; height: 150px; position: absolute; bottom: 0; right: 0; z-index: 100;').
		div#mapdiv(style='width: 100%; height: 100%').

