extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    table
      thead
        tr 
          th Crime ID
          th Crime Name
      tbody
        each crime, i in crimes
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
           td= crime.cid

